<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TP-LINK云服务</title>
    <script type="text/javascript" src="{{ static_url('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/string.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/json2.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/utils.js') }}"></script>
</head>
<body>
    <form action="/login" method="POST">
        {% module xsrf_form_html() %}
		<table align='center'>
			<tr><td>
				<input type="text" id="email" name="email"/>
			</td></tr>
			<tr><td>
				<input type="password" id="password" name="password"/>
			</td></tr>
			<tr><td>
				<input type="submit"/>
			</td></tr>
		</table>
    </form>
</body>
</html>