<script type="text/javascript">
$(document).ready(function() {

})
</script>

<html>
<head>
	<title>Data Collector</title>
</head>

<body>
	<p align='center'> Data Collector </p>
	<p align='right'> {{ current_user }} </p>
	<form action="/" method="POST">
		{% module xsrf_form_html() %}
		<table align='center'>
			<tr align="center"><td>
				<span>DeviceId</span>
			</td>
			<td>
				<span>Start Time</span>
			</td>
			<td>
				<span>Finish Time</span>
			</td>
			</tr>
			<tr><td>
				<input type="text" id="deviceid" name="deviceid" size='60' value="{{ deviceid }}"/>
			</td>
			<td>
				<input type="text" id="starttime" name="starttime" value="{{ starttime }}"/>
			</td>
			<td>
				<input type="text" id="finishtime" name="finishtime" value="{{ finishtime }}"/>
			</td>
			<td>
				<input type="submit" value="查询"/>
			</td></tr>
		</table>
	</form>

	<ul>
		{% for item in items %}
			<li>{{ escape(item) }}</li>
		{% end %}
	</ul>
</body>
</html>
