<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--	<meta http-equiv="refresh" content="10">  -->
	<title>Stocks</title>
	<script type="text/javascript" src="{{ static_url('js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('js/jquery.flot.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('js/analyzer/stocks.js') }}"></script> 
</head>

<body>
	<p align='center'> Stocks </p>
	<!--
	<div>
		<div id="placeholder" style="width:600px; height:300px;margin-left: auto;margin-right: auto;"></div>
		<div id="placeholder1" style="width:600px; height:300px;margin-left: auto;margin-right: auto;"></div>
	</div>
	-->
	<p class="current-time">1970/1/1 11:11:11</p>
	<ul class="stocks-view">
		<li>
		{{stocks_sh_sz[0][1]}} - {{stocks_sh_sz[1][1]}} - 
		{% for stock in stocks %}
		{{stock[0].decode('gbk')}}:{{stock[3]}} - {{stock[4]}} - {{stock[5]}}
		{% end %}
		</li>
	</ul>
</body>
</html>
